.child {
	position: absolute;
	top: 0;
}

.colored-box {
	height: 350px;
	width: 380px;
	margin-left: 150px;
	margin-top: 60px;
	border-radius: 25px;
	left: 0;
	background-color: #a4e4db;
}

.image {
	border-radius: 25px;
	height: 281px;
	border-radius: 25px;
	margin-top: 38px;
	margin-left: 50px;
	top: 50px;
	left: 28px;
}
.images-Box {
	position: relative;
}
